<!doctype html>
{% extends "layoutmodern.html" %}

{% block body %}

<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.load("visualization", "1.1", {packages:["table", "corechart"]});
    // google.charts.load('current', {'packages':['corechart']});
</script>
<script src="/static/assets/customjs/custom.js"></script>

<script>

$(document).ready(function(){
    // this code sets the write view on startup
    getUserData(updatePageElements, "dashboard");
});

</script>

<title>Dashboard</title>



<!-- Content -->
<div id="container">
{% if not session.username %}
  
    <!--  #main-content (Center) -->
    <div id="content" class="col-md-12" role="main"> <!-- InstanceBeginEditable name="content_main" -->
      <h1 class="page-header">Please Login</h1>
      <!-- InstanceEndEditable --> 
    </div>

{% else %}
    <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script>     -->
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <h1 class="page-header">Dashboard</h1>
                <div id="workflow_selector">
                    <div class="form-group">
                        <label for="dashboardWorkflowSelect">Select a Workflow</label>
                        <select class="form-control", id="dashboardWorkflowSelect" name="dashboardWorkflowSelect" onchange='updateDashboardWorkflowsSelectWithoutInit()')>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dashboardWorkflowNameSelect">Select the Name of Your Workflow Run</label>
                        <select class="form-control", id="dashboardWorkflowNameSelect" name="dashboardWorkflowNameSelect">
                        </select>
                    </div>
                </div>
                <!-- <div class="row">
                    <div id="instances_table" class="col-md-3"></div>
                    <div id="commands_table" class="col-md-3"></div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <h3>Instances</h3>
                        <div id="instances_table"></div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Commands</h3>
                        <div id="commands_table"></div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Command Performance</h3>
                        <div id="command_chart"></div>    
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>

  
{% endif %}
</div>
<!-- #content--> 
{% endblock %}

