<!doctype html>
{% extends "layoutmodern.html" %}

{% block body %}


<script src="/static/assets/customjs/custom.js"></script>

<script>

$(document).ready(function(){
    // this code sets the write view on startup
    toggleView("credentials_section");
    $(".nav li").on("click", function() {
        $(".nav li").removeClass("active");
        $(this).addClass("active");
    });
    getUserData(updatePageElements, "setup");
});

</script>

<title>Workflow Editor</title>



<!-- Content -->
<div id="container">
{% if not session.username %}
  
    <!--  #main-content (Center) -->
    <div id="content" class="col-md-12" role="main"> <!-- InstanceBeginEditable name="content_main" -->
      <h1 class="page-header">Please Login</h1>
      <!-- InstanceEndEditable --> 
    </div>

{% else %}
    <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script>     -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a id="instance_click" onclick="toggleView('credentials_section');">Credentials</a></li>
                    <li><a href="#" id="workflow_click" onclick="toggleView('workflows_section');">Workflows</a></li>
                    <li><a href="#" id="instance_click" onclick="toggleView('instances_section');">Instances</a></li>
                    <li><a href="#" id="instance_click" onclick="toggleView('disks_section');">Disks</a></li>
                    <li><a href="#" id="instance_click" onclick="toggleView('commands_section');">Commands</a></li>
                    <li><a href="#" id="instance_click" onclick="toggleView('images_section');">Images</a></li>
                    
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div id="credentials_section">
                    <h1 class="page-header">Credentials</h1>
                    <h4>Edit Your Credentials</h4>
                    <form id="credentialsform">
                        <div class="form-group">
                            <label for="credentialCredentialsSelect">Select a Set of Credentials</label>
                            <select class="form-control", id="credentialCredentialsSelect" name="credentialCredentialsSelect" onchange="updateCredentialOptionsOnCredentialsForm()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="credentialsName">Name of Credentials</label>
                            <input type="text" class="form-control" id="credentialsName" name="credentialsName" placeholder="Name of Credentials">
                        </div>
                        <div class="form-group">
                            <label for="serviceAccountEmail">Service Account Email</label>
                            <input type="text" class="form-control" id="serviceAccountEmail" name="serviceAccountEmail" placeholder="something@developer.gserviceaccount.com">
                        </div>
                        <div class="form-group">
                            <label for="project">GCE Project Name</label>
                            <input type="text" class="form-control" id="project" name="project" placeholder="Project Name">
                        </div>
                        <div class="form-group">
                            <label for="pemFileUpload">PEM File</label>
                            <input type="file" id="pemFileUpload" name="pemFileUpload">
                        </div>                   
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'credentials', 'save', 'setup', true)">Save</button>
                        <button type="button" class="btn btn-danger" onclick="submitForm(event, 'credentials', 'delete', 'setup', true)">Delete</button>
                    </form>
                </div>
                
                <div id="workflows_section">
                    <h1 class="page-header">Workflows</h1>
                    <form id="workflows_form">
                        <h3>Edit Workflow</h3>
                        <div class="form-group">
                            <label for="workflowWorkflowsSelect">Select a Workflow</label>
                            <select class="form-control", id="workflowWorkflowsSelect" name="workflowWorkflowsSelect" onchange="updateWorkflowVarsOnWorkflowsForm()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="workflowCredentialsSelect">Select a Set of Credentials</label>
                            <select class="form-control", id="workflowCredentialsSelect" name="workflowCredentialsSelect">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="newWorkflowName">Workflow Name</label>
                            <input type="text" class="form-control" id="newWorkflowName"  name="newWorkflowName" placeholder="Name of New Workflow">
                        </div>
                        <button type="button" onclick="submitForm(event, 'workflow', 'new', 'setup', true)" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger" onclick="submitForm(event, 'workflow', 'delete', 'setup', true)">Delete</button>
                    </form>
                    <br>
                    <form id="workflow_variable_form">
                        <h3>Edit workflow variables</h3>
                        <p class="help-block"> 
                            Workflow variable names will be substituted for the variable value in instance and disk names, dependencies, and commands. 
                            This is useful when you want to run different versions of the same workflow template with slight alterations 
                            (e.g. different runs of the same genomics workflow for different samples). Workflow variables apply to every instance/disk
                            in the workflow. 
                        </p> 
                        <div class="row">
                            <div class="form-group col-sm-10"  onchange="updateWorkflowVarForm()">
                                <label for="workflowVarWorkflowsSelect">Select a Workflow</label>
                                <select class="form-control" id="workflowVarWorkflowsSelect" name="workflowVarWorkflowsSelect">
                                </select>
                            </div>
                        </div>
                        <div id="workflowvars">

                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addWorkflowVar('','');">Specify Another Variable</button>
                        </div>

                        
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'workflow', 'edit', 'setup', true)">Save</button>
                    </form>
                    <br>
                    <div id="workflow_editor"></div>
      
                </div>
                <div id="instances_section">
                    <h1 class="page-header">Instances</h1>
                    <form>
                        <h3>Edit Instance</h3>
                        <div class="form-group">
                            <label for="instanceWorkflowsSelect">Select a Workflow</label>
                            <select class="form-control", id="instanceWorkflowsSelect" name="instanceWorkflowsSelect" onchange="updateInstancesAndDisksOnInstanceForm()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="instanceInstancesSelect">Select an Instance to Edit</label>
                            <select class="form-control" id="instanceInstancesSelect" name="instanceInstancesSelect" onchange="updateInstanceOptionsOnInstanceForm();">
                            </select>
                        </div>
                        <label for="instanceName">Instance Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="instanceName" name="instanceName" placeholder="Name of Instance">
                        </div>
                        <div class="form-group">
                            <label for="instanceMachineTypeSelector">Select a Machine Type</label>
                            <select class="form-control" id="instanceMachineTypeSelector" name="instanceMachineTypeSelector">
                                <option>f1-micro</option>
                                <option>g1-small</option>
                                <option>n1-standard-1</option>
                                <option>n1-standard-2</option>
                                <option>n1-standard-4</option>
                                <option>n1-standard-8</option>
                                <option>n1-standard-16</option>
                                <option>n1-highcpu-2</option>
                                <option>n1-highcpu-4</option>
                                <option>n1-highcpu-8</option>
                                <option>n1-highcpu-16</option>
                                <option>n1-highmem-2</option>
                                <option>n1-highmem-4</option>
                                <option>n1-highmem-8</option>
                                <option>n1-highmem-16</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="instanceLocationSelector">Select a Location</label>
                            <select class="form-control" id="instanceLocationSelector" name="instanceLocationSelector" onchange="updateInstanceFormMachineTypes();">
                                <option>us-central1-a</option>
                                <option>us-central1-b</option>
                                <option>us-central1-c</option>
                                <option>us-central1-f</option>
                                <option>us-east1-b</option>
                                <option>us-east1-c</option>
                                <option>us-east1-d</option>
                                <option>europe-west1-b</option>
                                <option>europe-west1-d</option>
                                <option>europe-west1-c</option>
                                <option>asia-east1-a</option>
                                <option>asia-east1-b</option>
                                <option>asia-east1-c</option>
                            </select>
                        </div>

                        <label for="instanceBootDisk">Select a Boot Disk</label>
                        <div id="instanceBootDisk">
                        </div>
                        <label for="instanceReadDisks">Add Read Disks</label>
                        <div id="instanceReadDisks">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addDisk('', 'read');">Add Another Read Disk</button>
                        </div>
                        <label for="instanceReadWriteDisks">Add Read/Write Disks</label>
                        <div id="instanceReadWriteDisks">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addDisk('', 'readwrite');">Add Another Read/Write Disk</button>
                        </div>
                        <label for="InstanceDependencies">Instance Dependencies</label>
                        <p class="help-block">
                            Indicate the instance(s) that must finish without failing for this instance to run. If a sequence of
                            instances should be run first you only need to indicate the last instance in the sequence.
                        </p> 
                        <div id="InstanceDependencies">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addInstanceDependency('');">Add a Dependency</button>
                        </div>
                        <div onclick="toggleAdvancedOptions()">
                            <label for="optionalInstanceParams">Click Here for Advanced Options</label>
                        </div>
                        <div id="optionalInstanceParams">
                            <label for="ex_tags">Instance Tags</label>
                            <p class="help-block">
                                A list of tags to associate with the instance separated with | (e.g. tag1|tag2|tag3).
                            </p> 
                            <div class="form-group">
                                <input type="text" class="form-control" id="ex_tags" name="ex_tags" placeholder="(e.g. tag1|tag2|tag3)">
                            </div>
                            <label for="ex_metadata">Instance Metadata</label>
                            <p class="help-block">
                                A list of key value pairs to associate with the instance metadata separated with : and | (e.g. key1:value1|key2:value2).
                            </p>
                            <div class="form-group">
                                <input type="text" class="form-control" id="ex_metadata" name="ex_metadata" placeholder="(e.g. key1:value1|key2:value2)">
                            </div>
                            <label for="ex_network">Instance Network</label>
                            <p class="help-block">
                                The name of the GCE network to associate with the instance.
                            </p>
                            <div class="form-group">
                                <input type="text" class="form-control" id="ex_network" name="ex_network" placeholder="">
                            </div>
                            <label for="numLocalSSD">Number of Local SSD Drives</label>
                            <p class="help-block">
                                Local SSD drives will be named and mounted at /mnt/lssd-[0-4].
                            </p>
                            <div class="form-group">
                                <select class="form-control" id="numLocalSSD" name="numLocalSSD">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="preemptible"><input type="checkbox" id="preemptible" name="preemptible" value="F" onchange="updatePreemptibleCheckbox()">
                                    &nbsp&nbspUse a Preemptible Instance?
                                </label>
                            </div>
                        </div>
                        <div></div>                         
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'instance', 'edit', 'setup', true)">Save</button>
                        <button type="button" class="btn btn-danger" onclick="submitForm(event, 'instance', 'delete', 'setup', true)">Delete</button>
                    </form>      
                    
                    <form id="instance_variable_form">
                        <h3>Edit instance variables</h3>
                        <p class="help-block"> 
                            Instance variable names will be substituted for the variable value in instance and disk names, dependencies, and commands. 
                            This is useful when you want to run in parallel different versions of the same instance template with slight alterations 
                            (e.g. the same instances in a genomics workflow run on different sets of chromosomes). Instance variables apply only within
                            the instance for which they are specified.
                        </p> 
                        <div class="row">
                            <div class="form-group col-sm-10"  onchange="updateInstancesInInstanceVarForm()">
                                <label for="instanceVarWorkflowsSelect">Select a Workflow</label>
                                <select class="form-control" id="instanceVarWorkflowsSelect" name="instanceVarWorkflowsSelect">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-10"  onchange="updateInstanceVariablesInInstanceVarForm()">
                                <label for="instanceVarInstancesSelect">Select an Instance</label>
                                <select class="form-control" id="instanceVarInstancesSelect" name="instanceVarInstancesSelect">
                                </select>
                            </div>
                        </div>
                        <div id="instancevars">

                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addInstancesVar();">Specify Another Variable</button>
                        </div>  
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'instance', 'variables', 'setup', true)">Save Variables</button>
                    </form>             
                </div>
                
                <div id="disks_section">
                    <h1 class="page-header">Disks</h1>
                    <form id="disk_form">
                        <h3>Edit Disk</h3>
                        <div class="form-group">
                            <label for="diskWorkflowsSelect">Select a Workflow</label>
                            <select class="form-control", id="diskWorkflowsSelect" name="diskWorkflowsSelect" onchange="updateDisksOnDiskForm()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="diskDisksSelect">Select a Disk to Edit</label>
                            <select class="form-control" id="diskDisksSelect" name="diskDisksSelect" onchange="updateDiskOptionsOnDiskForm();">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="diskName">Disk Name</label>
                            <input type="text" class="form-control" id="diskName" name="diskName" placeholder="Name of Disk">
                        </div>
                        <div class="form-group">
                            <label for="diskImagesSelect">Select a Disk Image</label>
                            <select class="form-control" id="diskImagesSelect" name="diskImagesSelect">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="diskSize">Select a Disk Size</label>
                            <input type="text" class="form-control" id="diskSize" name="diskSize" placeholder="Size in GB (in range 10-10240)">
                        </div>
                        <div class="form-group">
                            <label for="diskTypeSelector">Select a Disk Type</label>
                            <select class="form-control" id="diskTypeSelector" name="diskTypeSelector">
                                <option>pd-ssd</option>
                                <option>pd-standard</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="diskLocationSelector">Select a Location</label>
                            <select class="form-control" id="diskLocationSelector" name="diskLocationSelector" >
                                <option>us-central1-a</option>
                                <option>us-central1-b</option>
                                <option>us-central1-c</option>
                                <option>us-central1-f</option>
                                <option>us-east1-b</option>
                                <option>us-east1-c</option>
                                <option>us-east1-d</option>
                                <option>europe-west1-b</option>
                                <option>europe-west1-d</option>
                                <option>europe-west1-c</option>
                                <option>asia-east1-a</option>
                                <option>asia-east1-b</option>
                                <option>asia-east1-c</option>
                            </select>
                        </div>
                        <!-- <h4>Select an Initialization Source</h4>
                        <h4>Select an Shutdown Destination</h4> -->
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'disk', 'save', 'setup', true)">Save</button>
                        <button type="button" class="btn btn-danger" onclick="submitForm(event, 'disk', 'delete', 'setup', true)">Delete</button>
                    </form>      
                    
                    <form id="disk_variable_form">
                        <h3>Edit Disk Variables</h3>
                        <p class="help-block"> 
                            Disk variable names will be substituted for the variable value in disk. 
                            This is useful when you want to run in parallel different versions of the same instance template with slight alterations 
                            (e.g. the same instances in a genomics workflow run on different sets of chromosomes). Disk variables apply only within
                            the disk for which they are specified.
                        </p> 
                        <div class="row">
                            <label for="diskVarWorkflowsSelect">Select a Workflow</label>
                            <div class="form-group col-sm-10"  onchange="updateDisksInDiskVarForm()">
                                <select class="form-control" id="diskVarWorkflowsSelect" name="diskVarWorkflowsSelect">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="diskVarDisksSelect">Select a Disk</label>
                            <div class="form-group col-sm-10"  onchange="updateDiskVariablesInDiskVarForm()">
                                <select class="form-control" id="diskVarDisksSelect" name="diskVarDisksSelect">
                                </select>
                            </div>
                        </div>
                        <div id="diskvars">

                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addDisksVar('','');">Specify Another Variable</button>
                        </div>  
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'disk', 'variables', 'setup', true)">Save</button>
                    </form>             
                </div>
                
                <div id="commands_section">
                    <h1 class="page-header">Commands</h1>
                    
                    <form>
                        <h4>Edit Command</h4>
                        <div class="form-group">
                            <label for="workflowInCommandForm">Select a Workflow</label>
                            <select class="form-control" id="workflowInCommandForm" name="workflowInCommandForm" onchange="setInstanceOptionsInCommandForm()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="instanceInCommandForm">Select an Instance</label>
                            <select class="form-control" id="instanceInCommandForm" name="instanceInCommandForm" onchange="setCommandOptionsInCommandForm()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="commandInCommandForm">Select a Command to Edit</label>
                            <select class="form-control" id="commandInCommandForm" name="commandInCommandForm" onchange="setCommandAttributesInCommandForm()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="CommandName">Command Name</label>
                            <input type="text" class="form-control" id="CommandName" name="CommandName" placeholder="e.g. Command 1">
                        </div>
                        <label for="CommandDependencies">Command Dependencies</label>
                        <p class="help-block">
                            Indicate the command(s) that must finish without failing for this command to run. If a sequence of
                            commands should be run first you only need to indicate the last command in the sequence.
                        </p> 
                        <div id="CommandDependencies">

                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="addCommandDependency('');">Add a Dependency</button>
                        </div>  
                        
                        <div class="form-group">
                            <label for="Command">Command(s)</label>
                            <p class="help-block">
                            This is one or more lines of code to run. Each line will be run on the instance using python's subprocess module as follows: 
                            subprocess.Popen(eachline, shell=True)
                            </p> 
                            <textarea class="form-control" id="Command" name="Command" placeholder="e.g. echo hello"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'command', 'save', 'setup', true)">Save</button>
                        <button type="button" class="btn btn-danger" onclick="submitForm(event, 'command', 'delete', 'setup', true)">Delete</button>
                    </form>
                </div>
                
                <div id="images_section">
                    <h1 class="page-header">Images</h1>
                    <form id="disk_form">
                        <h3>Edit Image</h3>
                        <div class="form-group">
                            <label for="imageImagesSelect">Select an Image to Edit</label>
                            <select class="form-control" id="imageImagesSelect" name="imageImagesSelect" onchange="updateImageOptionsOnImageForm();">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="imageNameOnImageForm">Image Name</label>
                            <input type="text" class="form-control" id="imageNameOnImageForm" name="imageNameOnImageForm" placeholder="Image Name in Your GCE Account">
                        </div>
                        <div class="form-group">
                            <label for="authAccount">Auth Account</label>
                            <input type="text" class="form-control" id="authAccount" name="authAccount" placeholder="probably some email address">
                            <p class="help-block">This optional argument is used to sign into the appropriate google account using 'gcloud config set account'. This is useful for specifying an account with appropriate permissions to use utilities like gsutil to transfer files to cloud storage. </p>
                        </div> 
                        <div class="form-group">
                            <label for="installDirectory">Installation Directory</label>
                            <input type="text" class="form-control" id="installDirectory" name="installDirectory" placeholder="e.g. /home/cmelton/">
                            <p class="help-block">Input the path to the DDServer software installation directory.</p>
                        </div> 
                        <!-- <h4>Select an Initialization Source</h4>
                        <h4>Select an Shutdown Destination</h4> -->
                        <button type="button" class="btn btn-primary" onclick="submitForm(event, 'image', 'save', 'setup', true)">Save</button>
                        <button type="button" class="btn btn-danger" onclick="submitForm(event, 'image', 'delete', 'setup', true)">Delete</button>
                    </form>
                </div>
                

            </div>
        </div>
    </div>

  
{% endif %}
</div>
<!-- #content--> 
{% endblock %}

