<!doctype html>
{% extends "layoutmodern.html" %}

{% block body %}

<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<link rel="stylesheet" href="/static/assets/colorbox/colorbox.css" />
<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script> -->
<link href="/static/assets/select2/select2.min.css" rel="stylesheet" />
<script src="/static/assets/select2/select2.min.js"></script>


<script>
    
    // // code to run colorbox script after variant table is loaded, this script allows for the stylized popup windows
    // $(document).ready(function() {
        // // console.log($(".inline"));
        // // $(".inline").colorbox({inline:true, width:"80%", height:"80%"});
        // jQuery('.inline').colorbox();
    // } );

	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    console.log("script root");
    console.log($SCRIPT_ROOT);
	var hasOwnProperty = Object.prototype.hasOwnProperty;

	function isEmpty(obj) {

	    // null and undefined are "empty"
	    if (obj == null) return true;

	    // Assume if it has a length property with a non-zero value
	    // that that property is correct.
	    if (obj.length > 0)    return false;
	    if (obj.length === 0)  return true;

	    // Otherwise, does it have any properties of its own?
	    // Note that this doesn't handle
	    // toString and valueOf enumeration bugs in IE < 9
	    for (var key in obj) {
	        if (hasOwnProperty.call(obj, key)) return false;
	    }

	    return true;
	}

	function changeAlterationOptions() {
	    role = $("#inforole").find(":selected").text();
        if (role!="None") {
            type = $("#type1").find(":selected").text();
            $('#alterationtype').val("None");
            $('div[name=cnvinfo]').hide();
            $('div[name=expressioninfo]').hide();
            $('div[name=fusioninfo]').hide();
            $('div[name=snvindelinfo]').hide();
            $('div[name=protmodinfo]').hide();
            $('div[name=therapytargetinfo]').hide();
            $('div[name=wildtypestatusinfo]').hide();
            
            console.log(type);
            if (type=="Mutation/SNV/INDEL") {
                $('div[name=snvindelinfo]').show();
                $('#alterationtype').val("SNVINDEL");
            } else if (type=="CNV (Copy Number Variant)") {
                $('div[name=cnvinfo]').show();
                $('#alterationtype').val("CNV");
            } else if (type=="RNA/Protein Expression") {
                $('div[name=expressioninfo]').show();
                $('#alterationtype').val("Expression");
            } else if (type=="Fusion/Translocation/Rearrangement") {
                $('div[name=fusioninfo]').show();
                $('#alterationtype').val("Fusion");
            } else if (type=="RNA/Protein Expression (Protein Modification)") {
                $('div[name=protmodinfo]').show();
                $('#alterationtype').val("ProteinMod");
            } else if (type=="Therapeutic Target") {
                $('div[name=therapytargetinfo]').show();
                $('#alterationtype').val("TherapeuticTarget");    
            } else if (type=="Unaltered (wild-type) Status") {
                $('div[name=wildtypestatusinfo]').show();
                $('#alterationtype').val("WildtypeStatus");
            }
                
        }
		
	}

    function showAlterationInfo() {
        role = $("#inforole").find(":selected").val();
        if (role=="None") {
            $('div[name=therapytargetinfo]').hide();
            $('div[name=wildtypestatusinfo]').hide();
            $('div[name=cnvinfo]').hide();
            $('div[name=expressioninfo]').hide();
            $('div[name=fusioninfo]').hide();
            $('div[name=snvindelinfo]').hide();
            $('div[name=protmodinfo]').hide();
            $('div[name=alterationsbutton]').hide();
            $('div[name=othertextboxdiv]').hide();
            $('div[name=additionalinstruction]').hide();
        } else {
            if (role=="Other") {
                $('div[name=othertextboxdiv]').show();
            } else {
                $('div[name=othertextboxdiv]').hide();
            }
            if (role=="Studied") {
                $('#expressiongcategory').hide();
                $("#expression_selector").val('tobestudied');
            } else {
                $('#expressiongcategory').show();
                $("#expression_selector").val('other');
            }
            $('div[name=additionalinstruction]').show();
            $('div[name=alterationsbutton]').show();
            changeAlterationOptions();    
        }
    }

	$(document).ready(function(){
		// changeAlterationOptions();
		showAlterationInfo();
	    $("#type1").change(function(){
			changeAlterationOptions();
	    });
	    $("#inforole").change(function(){
            showAlterationInfo();
        });
	});

	function openClose(id) {
		var labelID = "closer_"+id;
		var contentID = "expander_"+id;
		if (document.getElementById(contentID).style.display == "block") { 
			document.getElementById(contentID).style.display = "none";
			document.getElementById(labelID).style.display = "block"; 
		} else {
			document.getElementById(contentID).style.display = "block";
			document.getElementById(labelID).style.display = "none";
		}; 
	}

	$(document).ready(function(){
		openClose("add_drug");
		openClose("add_drug");
		openClose("add_drug");
		// openClose('instructions');
		// openClose('instructions');
		// openClose('instructions');
		// openClose('status');
		// openClose('status');
		// openClose('status');
		openClose('alterations');
		openClose('alterations');
		openClose('alterations');
		openClose('cancers');
		openClose('cancers');
		openClose('cancers');
		openClose('add_therapy');
		openClose('add_therapy');
		openClose('add_therapy');
	});

	// some javascript to display variant table
	google.load("visualization", "1", {packages:["table"]});

	// generic make gviz table function
	function drawtable(data, elementid, jscode_data) {
		if (!isEmpty(data)) {
			// console.log(data);
			$.each(data.colnames, function(k) {
				var col = data.colnames[k];
				var type = col[0];
				var key = col[1];
				var name = col[2]; 
				jscode_data.addColumn(type, name, key);
			});
			jscode_data.addRows(data.numrows);
			var i = 0;
			$.each(data.rows, function(l) {
				j=0;
				var row = data.rows[l];
				$.each(data.colnames, function(k) {
					var col = data.colnames[k];
					var type = col[0];
					var key = col[1];
					var name = col[2]; 
					// console.log(row[key]["value"]);
					// console.log(row[key]["css"]);
					jscode_data.setCell(i, j, row[key]["value"]);
					jscode_data.setProperty(i, j, 'style', row[key]["css"]);
					j+=1;
				});
				i+=1;
			});
			// console.log(elementid);
			// console.log(jscode_data);
			jscode_table = new google.visualization.Table(document.getElementById(elementid));
			jscode_table.draw(jscode_data, {showRowNumber: false, allowHtml: true});
			return jscode_data, jscode_table;			
		} else {
			$("#"+elementid).html("");
		}
	}

	// some javascript to generate gviz datatables for variant, clinical trial, guidelines info, etc
	function generateTableFromJSON(tid, elementid, infotype) {
		// console.log(infotype);
		var jscode_table;
		var jscode_data = new google.visualization.DataTable();
		//if info type in clinicalvariants submit to _getclinicalvariantinfo otherwise _getvariantinfo
		if ((infotype=="drug_info") || (infotype=="cancer_info") || (infotype=="alteration_info") || (infotype=="therapy_info")) {
			$.getJSON($SCRIPT_ROOT + '/_gettrialinfo', {tid:tid, type: infotype},
			function(data) {
				if (data["message"]!="") {
					alert(data["message"])
				}
				jscode_data, jscode_table = drawtable(data["info"], elementid, jscode_data);
				});
		} else {
			console.log("Couldn't find infotype "+infotype);
		}
		return jscode_data, jscode_table;
	}

	// ajax call backs to get information for pop ups
	function getDrugInfo(tid) {
		generateTableFromJSON(tid, 'table_div_jscode_drugs', 'drug_info');
	}

	function getAlterationInfo(tid) {
		generateTableFromJSON(tid, 'table_div_jscode_alterations', 'alteration_info');
	}
	
	function getCancerInfo(tid) {
		generateTableFromJSON(tid, 'table_div_jscode_cancers', 'cancer_info');
	}
	
	function getTherapyInfo(tid) {
        generateTableFromJSON(tid, 'table_div_jscode_therapies', 'therapy_info');
    }

	google.setOnLoadCallback(drawTable);
	function drawTable() {
	    console.log("getting cancer info");
		getCancerInfo({{trialannotationset.id}});
		console.log("getting drug info");
		getDrugInfo({{trialannotationset.id}});
		console.log("getting alteration info");
		getAlterationInfo({{trialannotationset.id}});
		console.log("getting therapy info");
		getTherapyInfo({{trialannotationset.id}});
	}

	function addAnnotationData(formname, tid, callback) {
		var formcontents = $('form[name='+formname+']').children().find('input, select');
		var tosubmit = {};
		for (i=0; i<formcontents.length; i++) {
			// if (formcontents[i].type!="hidden") {
			// 	console.log(formcontents[i]);
			tosubmit[formcontents[i].name]=formcontents[i].value;				
			// }
		}
		console.log(tosubmit);
		$.post($SCRIPT_ROOT + '/_addannotation?tid='+tid, tosubmit, function(data, textStatus) {
			console.log(data);
			alert(data["message"]);
			callback();
			return data;
		}, "json");
	}
	
	function removeAnnotationData(tid, tosubmit, callback) {
        $.post($SCRIPT_ROOT + '/_addannotation?tid='+tid, tosubmit, function(data, textStatus) {
            console.log(data);
            alert(data["message"]);
            callback();
            return data;
        }, "json");
	}

	function updateElement(element_type, element_name, element_content) {
		$(element_type+'[name='+element_name+']').html(element_content);
	}
			
	function updateElements(updates) {
		for (i=0; i<updates.length; i++) {
			updateElement(updates[i].type, updates[i].name, updates[i].value);
		}
	}
	
	function updateTrialPageElements(type, tid) {
		$.get($SCRIPT_ROOT + '/_updatedata?tid='+tid+'&type='+type, {}, function(data, textStatus) {
			console.log(data);
			if (data["message"]!="") {
				alert(data["message"]);				
			}
			updateElements(data["updates"]);
		}, "json");
	}

	function updateStatus(tid) {
		addAnnotationData('updateStatusForm', tid, function() {
			updateTrialPageElements('status', tid);
		});
	}
	
	function addDrug(tid) {
		addAnnotationData('addDrugForm', tid, function() {
			getDrugInfo(tid);
			updateTrialPageElements('drug', tid);	
			$("input[name=manualdrugnames]").val('');		
		});
	}
	
	function addTherapy(tid) {
	    addAnnotationData('addTherapyForm', tid, function() {
            getTherapyInfo(tid);
            // updateTrialPageElements('therapy', tid);   
            $("input[name=manualtherapynames]").val('');       
        });
	}

	function removeDrug(tid, name) {
        var tosubmit = {};
        tosubmit["drugtoremove"]=name;
		removeAnnotationData(tid, tosubmit, function() {
			getDrugInfo(tid);
			updateTrialPageElements('drug', tid);			
		});
	}

	function addCancer(tid) {
		addAnnotationData('addCancerForm', tid, function() {
			getCancerInfo(tid)
			updateTrialPageElements('cancer', tid);
			$("input[name=manualcancernames]").val('');
		});
	}

	function removeCancer(tid, name) {
        var tosubmit = {};
        tosubmit["cancertoremove"]=name;
		removeAnnotationData(tid, tosubmit, function() {
			getCancerInfo(tid);
			updateTrialPageElements('cancer', tid);
		});
	}
	
	function addAlteration(tid) {
		addAnnotationData('addAlterationForm', tid, function() {
			getAlterationInfo(tid)
			updateTrialPageElements('alteration', tid);	
			$(':input','#addAlterationForm')
			.not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not(':checkbox, :radio, select').val('');
			  // .not(':button, :submit, :reset, :hidden, :radio, :checkbox, :option')
              // .removeAttr('checked')
              // .removeAttr('selected')
              // .val('');		
		});
	}

	function removeAlteration(tid, name) {
        var tosubmit = {};
        tosubmit["alterationtoremove"]=name;	    
		removeAnnotationData(tid, tosubmit, function() {
			getAlterationInfo(tid)
			updateTrialPageElements('alteration', tid);
		});
	}

    function removeTherapy(tid, name) {
        var tosubmit = {};
        tosubmit["therapytoremove"]=name;
        removeAnnotationData(tid, tosubmit, function() {
            getTherapyInfo(tid);
        });        
    }
        
    jQuery(document).ready(function () {
        jQuery('.gallery').colorbox({inline:true, width:"80%", height:"80%"});
    });

    $(document).ready(function() {
      $(".js-select2-cancer").select2({
          placeholder: "Select a Cancer",
          allowClear: true    
      });
    $(".js-select2-drug").select2({
          placeholder: "Select a Drug",
          allowClear: true    
      });
    $(".js-select2-therapy").select2({
          placeholder: "Select a Therapy",
          allowClear: true    
      });
      
    });
 
</script>

{% block title %}{% endblock %}

<!-- Start #container -->
<div id="container">
    {% block header %}{% endblock %}
    <!-- Start #content -->
    <div id="content"> 
      <div id="fullpage">
        <!-- Start #center -->
        <div id="upper_left" class="col-md-4">
            <h1 class=""><!-- InstanceBeginEditable name="Page Title" -->Trial {{trial.id}}: {{trial.brief_title}}.<!-- InstanceEndEditable --></h1>
        </div>
        <div id="upper_right">
            <div id ="ur_middle">
                <div id ="ur_inner">
                        <!-- Instructions Button -->
                        <div class="col-md-4" id="topbuttons">
                            <a href="#inline_content_info" class="gallery">
                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true">&nbspInstructions</span>
                                </button>    
                            </a>
                        </div>
                        <!-- Finish Button -->
                        <div class="col-md-4" id="topbuttons">
                            <button onclick="updateStatus({{trialannotationset.id}});" type="button" class="btn btn-success btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true">&nbspFinish</span>
                            </button>    
                        </div>
                        <!-- Error Button -->
                        <div class="col-md-4" id="topbuttons">
                            <a  href="{{ url_for('reporterror', tid=trialannotationset.id) }}">
                                <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true">&nbspError</span>
                                </button>
                            </a>
                        </div>
                        <!-- Next Trial -->
                        <div class="col-md-4" id="topbuttons">
                            <a  href="{{ url_for('annotatenewtrial')}}">
                                <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbspNext Trial</span>
                                </button>
                            </a>
                        </div>
                </div>
            </div>
            


            
        </div>
      </div>          
    </div>

  <!-- Start #content -->
  <div id="content"> 
    <!-- Start #center -->
    <div id="fullpage">
        
        <div id="left" class="col-md-4"> <!-- InstanceBeginEditable name="content_main" --> 
          <!--Optional Breadcrumb Start-->
          <div class="breadcrumb">Trial Information from ClinicalTrials.gov</div>
          <!--Optional Breadcrumb End--> 
          <!--Optional On this page Start
          <div id="onthispage">
            <h1>On this page:</h1>
            <ul>
              <li><a href="#c1">Brief Summary</a></li>
              <li><a href="#c2">Detailed Description</a></li>
              <li><a href="#c3">Criteria</a></li>
              <li><a href="#c4">Additional Details</a></li>
            </ul>
          </div>
          Optional On this page End-->
    
          <h2 id="c1">Brief Summary</h2>
          {{colored_brief_summary}}
         
          <h2 id="c2">Detailed Description</h2>
          {{colored_detailed_description}}
    
          <h2 id="c3">Criteria</h2>
          {{colored_criteria|safe}}
          
          <h2 id="c4">Additional Details</h2>
            
            <h3 style="display:inline-block">Trial ID:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.nct_id}}</p></br>
            <h3 style="display:inline-block" name="trial_annotation_status">Annotation Status:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trialannotationset.annotated}}</p></br>
            <h3 style="display:inline-block">Assigned to User:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trialannotationset.user.name}}</p></br>
            <h3 style="display:inline-block">ClinicalTrials.gov Link:&nbsp&nbsp</h3>  <p style="display:inline-block"><a href="{{trial.url}}">link</a></p></br>
            <h3 style="display:inline-block">Official Title:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.official_title}}</p></br>
            <h3 style="display:inline-block">ClinicalTrials.gov Cancer Type:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.cancer_type}}</p></br>
            <h3 style="display:inline-block">Start Date:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.start_date}}</p></br>
            <h3 style="display:inline-block">End Date:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.end_date}}</p></br>
            <h3 style="display:inline-block">Study Population:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.study_pop}}</p></br>
            <h3 style="display:inline-block">Gender:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.gender}}</p></br>
            <h3 style="display:inline-block">Min Age:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.min_age}}</p></br>
            <h3 style="display:inline-block">Max Age:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.max_age}}</p></br>
            <h3 style="display:inline-block">Phase:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.phase}}</p></br>
            <h3 style="display:inline-block">Study Type:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.study_type}}</p></br>
            <h3 style="display:inline-block">Study Design:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.study_design}}</p></br>
            <h3 style="display:inline-block">Interventions:&nbsp&nbsp</h3>  <p style="display:inline-block">{{trial.parseInterventions()}}</p></br>
          <p></p>
          <!-- InstanceEndEditable --> 
      </div>
      
        <div id="right" class="col-md-4"> <!-- InstanceBeginEditable name="content_main" --> 
          <!--Optional Breadcrumb Start-->
          <div class="breadcrumb">Annotation Tools</div>
          <!--Optional Breadcrumb End--> 
          <!--Optional On this page Start>
          <div id="onthispage">
            <h1>On this page:</h1>
            <ul>
              <li><a href="#c1">Instructions</a></li>
              <li><a href="#c2">Annotation Status</a></li>
              <li><a href="#c3">Alterations</a></li>
              <li><a href="#c4">Cancers</a></li>
              <li><a href="#c5">Drugs</a></li>
              <!-- <li><a href="#c2">Detailed Description</a></li>
              <li><a href="#c1">Brief Summary</a></li>
              <li><a href="#c2">Detailed Description</a></li> 
            </ul>
          </div>-->
          <!--Optional On this page End-->
    		<!-- 
    		<h2 id = "c1" onClick=openClose('instructions') onmouseover="" style="cursor: pointer; display:inline-block" > Instructions&nbsp</h2><h3 onClick=openClose('instructions') onmouseover="" style="cursor: pointer; display:inline-block "> (click to expand)</h3> 
    		<div id="expander_instructions" class="texter_closer" ></div>
    		<div id="closer_instructions" class="texter" >
    			<br>
    			<p class="lead">Use this page to annotate the clinical trial with gene alterations, diseases, and drugs. When you are finished change the annotation finalized status to True. If you have any trouble please report the problem by clicking <a href="{{ url_for('reporterror', tid=trialannotationset.id) }}">here</a>. </p>
    		 </div>
            -->
    		<!-- <h2 id = "c2" onClick=openClose('status') onmouseover="" style="cursor: pointer; display:inline-block" > Annotation Status&nbsp</h2><h3 onClick=openClose('status') onmouseover="" style="cursor: pointer; display:inline-block "> (click to expand)</h3> 
    		<div id="expander_status" class="texter_closer" ></div>
    		<div id="closer_status" class="texter" > -->
    			<!-- <p class="lead" name="trial_annotation_status">Annotation Finalized:&nbsp {{trialannotationset.annotated}} </p> -->
    			<form action="javascript:updateStatus({{trialannotationset.id}});" name="updateStatusForm" style="display: none;">
    				New Status:&nbsp
    				<div id="inner_div">
    					<select name="annotation_status">
    						<option value="True">True</option>
    						<!-- <option value="False">False</option> -->
    					</select>
    				</div>
    				<br>
    				<br>
    				<p class="submit"><input type="submit" name="commit" value="Change Status"></p>
    			</form>
    		 <!-- </div> -->

            <!-- Start of Cancers -->

            <h2 id = "c4" onClick=openClose('cancers') onmouseover="" style="cursor: pointer; display:inline-block" > Cancer(s)&nbsp</h2><p onClick=openClose('cancers') onmouseover="" style="cursor: pointer; display:inline-block "> (click to expand)</p> 
            <div id="expander_cancers" class="texter_closer" ></div>
            <div id="closer_cancers" class="texter" >
                <div id="table_div_jscode_cancers"></div>
                <!--<p class="lead"> Add Cancer. </p>-->
                <!--<div name = "cancerinfo"></div>-->
                <h3 style="color:#AF7817;"> Add Cancer. </h3>
                <form role="form" action="javascript:addCancer({{trialannotationset.id}});" name="addCancerForm" >
                    <div class="form-group">
                        <!-- <label>Cancer Name:&nbsp</label> -->
                        <!-- <select style="width:100%" class="js-example-basic-single">
                          <option value="AL">Alabama</option>
                          <option value="WY">Wyoming</option>
                        </select> -->
                        <select style="width:100%" name="preselectedcancername" class="js-select2-cancer"> {{cancer_types}}</select>
                    </div>
                    <label for="text">Additional Cancer Type Descriptors (separate with comma):<input type="text" name="cancer_descriptors" value="" class="form-control" placeholder="e.g. metastatic, advanced"></label>
                    <div class="form-group">
                        <label>Not Confident&nbsp&nbsp&nbsp<input type="checkbox" id="cancercheck" value=""></label>
                    </div>
                    <script>
                        $('#cancercheck').click(function() {
                            $("input[name=manualcancernames]").val('');
                            if( $(this).is(':checked')) {
                                $("#cancermanual").show();
                            } else {
                                $("#cancermanual").hide();
                            }
                        }); 
                    </script>
                    <div class="form-group" id="cancermanual" style="display:none;"> 
                        <p>If you feel is appropriate to manually enter a cancer name please do so here. Before doing so please try to add the best fitting more general term for this cancer type above.</p>
                        <label for="text">Manual Cancer Name:</label>
                        <input type="text" class="form-control" name="manualcancernames" value="">
                    </div>
                    <button type="submit" class="btn btn-default" name="commit" value="Add Cancer">Add Cancer</button>                  
                </form>
                <!-- <br>
                <h3 style="color:#AF7817;"> Remove Cancer. </h3>
                <form role="form" action="javascript:removeCancer({{trialannotationset.id}});" name = "removeCancerForm" >
                    <div class="form-group">
                        <label>To Remove:&nbsp<select name="cancertoremove"> {{current_cancer_types}}</select></label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default" name="commit" value="Remove Cancer">Remove Cancer</button>    
                    </div>
                    
                </form> 
                <br>    -->     
            </div>

            <!-- Start of Alterations -->
    	  
    		<h2 id = "c3" onClick=openClose('alterations') onmouseover="" style="cursor: pointer; display:inline-block" > Molecular Information&nbsp</h2><p onClick=openClose('alterations') onmouseover="" style="cursor: pointer; display:inline-block "> (click to expand)</p> 
    		<div id="expander_alterations" class="texter_closer" ></div>
    		<div id="closer_alterations" class="texter" >
    			<div id="table_div_jscode_alterations"></div>
    			<br>
    			<!-- <h3>Potentially Mentioned Information: </h3>
    			{{mentioned_alterations|safe}} -->
    			<h3 style="color:#AF7817;"> Add New </h3>
    			<form role="form" action="javascript:addAlteration({{trialannotationset.id}});" name = "addAlterationForm" id="addAlterationForm">   				
    				<label>Information Type: 
        				<select name="type2" id="type1">  
        					<option value=None>None</option>
        					<option value=UnalteredStatus>Unaltered (wild-type) Status</option>
        					<option value=TherapeuticTarget>Therapeutic Target</option>
        					<option value=CNV>CNV (Copy Number Variant)</option>
        					<option value=Expression>RNA/Protein Expression</option>
        					<option value=ProteinMod>RNA/Protein Expression (Protein Modification)</option>
        					<option value=SNVINDEL>Mutation/SNV/INDEL</option>
        					<option value=Fusion>Fusion/Translocation/Rearrangement</option>
        				</select>
    				</label>
                    <label>Role of Information: 
                        <select name="inforole" id="inforole">  
                            <option value=None>None</option>
                            <option value=Inclusion>Inclusion Criteria</option>
                            <option value=Exclusion>Exclusion Criteria</option>
                            <option value=Studied>Studied in Trial</option>
                            <option value=Diagnosis>Preexisting Cancer Diagnosis Criteria</option>
                            <option value=DrugTarget>Mentioned as a Drug Target</option>
                            <option value=Other>Other</option>
                        </select>
                    </label>
                    <div name="othertextboxdiv">
                        <label for="text">Please describe the role of the molecular information:<input type="text" name="othertextbox" value="" class="form-control"></label>    
                    </div>
    				<br>
    				<div name="additionalinstruction">
    				    <p>Enter all applicable identifiying data:</p>
    				</div>
    				<div name = "snvindelinfo">
                        <label>Gene Name Available:
                            <select name="selectmuttype" id="selectmuttype">  
                                <option value=gene>Yes</option>
                                <option value=other>No</option>
                            </select>
                        </label>
                        <label>Germline or Somatic:
                            <select name="germ_v_somatic" id="germ_v_somatic">  
                                <option value=notspecified>Not Specified</option>
                                <option value=germline>Germline</option>
                                <option value=somatic>Somatic</option>
                                <option value=either>Either</option>
                            </select>
                        </label>
                        <label>Zygocity:
                            <select name="zygocity" id="zygocity">
                                <option value=notspecified>Not Specified</option>  
                                <option value=heterozygous>Heterozygous</option>
                                <option value=homozygous_pos>Homozygous Positive</option>
                                <option value=homozygous_neg>Homozygous Negative</option>
                                <option value=other>Other</option>
                            </select>
                        </label>
                        <script>
                            function showMutBoxes() {
                                var select_mut_type = $("#selectmuttype").find(":selected").val();
                                if (select_mut_type=="gene") {
                                    $('#selectgenenameboxes').show();
                                } else {
                                    $('#selectgenenameboxes').hide();
                                }
                            }
                        
                            $(document).ready(function(){
                                $("#selectmuttype").change(function(){
                                    showMutBoxes();
                                });
                                showMutBoxes();
                            }); 
                        </script>
    				    <input type="hidden" id="alterationtype" name="alterationtype" value="">
    				    <div id="selectgenenameboxes">
    				        <label for="text">Gene Symbol(s) (separate by |):<input type="text" name="symbol" value="" class="form-control"></label>
                            <label for="text">Amino Acid #:<input type="text" name="aapos" value="" class="form-control"></label>
                            <label for="text">Reference Amino Acid:<input type="text" name="refaa" value="" class="form-control"></label>
                            <label for="text">Variant Amino Acid:<input type="text" name="altaa" value="" class="form-control"></label>
                            <label for="text">Chromosome:<input type="text" name="chrom" value="" class="form-control"></label>
                            <label for="text">Position:<input type="text" name="ntpos" value="" class="form-control"></label>
                            <label for="text">Reference Nucleotide:<input type="text" name="refnt" value="" class="form-control"></label>
                            <label for="text">Variant Nucleotide:<input type="text" name="altnt" value="" class="form-control"></label>
    				    </div>
    				    <div>
        				    <label for="text">Variant Name:<input type="text" class="form-control" name="variantname" value=""></label>
                            <label for="text">Other Info:<input type="text" class="form-control" name="variantother" value=""></label>    
    				    </div>
    					
    				</div>
    				<div name = "therapytargetinfo">
    				    <label for="text">Gene Symbol(s) (separate by |):<input type="text" name="therapytarget_gene" id="therapytarget_gene" value="" class="form-control"></label>
                        <label for="text">Other Info:<input type="text" class="form-control" name="therapytarget_other" id="therapytarget_other" value=""></label>
    				</div>
                    <div name = "wildtypestatusinfo">
                        <label for="text">Gene Symbol(s) (separate by |):<input type="text" name="wildtypestatus_gene" id="wildtypestatus_gene" value="" class="form-control"></label>
                        <label for="text">Other Info:<input type="text" class="form-control" name="wildtypestatus_other" id="wildtypestatus_other" value=""></label>
                    </div>
    				<div name = "fusioninfo">
                        <label>Gene Name(s) Available:
                            <select name="selectfusiongenename" id="selectfusiongenename">  
                                <option value=yes>Yes</option>
                                <option value=no>No</option>
                            </select>
                        </label>
                        <script>
                            function toggleFusionForm() {
                                var select_fusion_type = $("#selectfusion").find(":selected").val();
                                // console.log($("#select_mut_type").find(":selected").val());
                                // console.log(select_mut_type);
                                if (select_fusion_type=="yes") {
                                    $('#onegene').show();
                                    $('#twogenes').hide();
                                } else {
                                    $('#ntermgene_onegene').val('');
                                    $('#fusionother_onegene').val('');
                                    $('#onegene').hide();
                                    $('#twogenes').show();
                                }
                            }
                            
                            function toggleFusionFormGeneName() {
                                var select_fusion_type = $("#selectfusiongenename").find(":selected").val();
                                if (select_fusion_type=="yes") {
                                    $('#hasgenename').show();
                                    $('#nogenename').hide();
                                } else {
                                    $('#hasgenename').hide();
                                    $('#nogenename').show();
                                }
                            }
                            
                            function toggleFusionChromNumber() {
                                var select_fusion_type = $("#selectfusionchrom").find(":selected").val();
                                if (select_fusion_type=="no") {
                                    $('#twochrom').show();
                                } else {
                                    $('#twochrom').hide();
                                }
                            }
                            
                            $(document).ready(function(){
                                $("#selectfusion").change(function(){
                                    toggleFusionForm();
                                });
                                $("#selectfusiongenename").change(function(){
                                    toggleFusionFormGeneName();
                                });
                                $("#selectfusionchrom").change(function(){
                                    toggleFusionChromNumber();
                                });
                                toggleFusionForm();
                                toggleFusionChromNumber();
                                toggleFusionFormGeneName();
                            }); 
                            
                        </script>
                        <div id="hasgenename">
                            <label>Only 1 Gene Name Available:
                                <select name="selectfusion" id="selectfusion">  
                                    <option value=no>No</option>
                                    <option value=yes>Yes</option>
                                </select>
                            </label>
                            <div id="twogenes">
                                <label for="text">N-terminal Gene Symbol:<input type="text" name="ntermgene" value="" class="form-control"></label>
                                <label for="text">C-terminal Gene Symbol:<input type="text" name="ctermgene" value="" class="form-control"></label>
                                <label for="text">Other Info:<input type="text" class="form-control" name="fusionother" value=""></label>    
                            </div>
                            <div id="onegene">
                                <label for="text">Gene Symbol(s) (separate by |):<input type="text" name="ntermgene_onegene" id="ntermgene_onegene" value="" class="form-control"></label>
                                <label for="text">Other Info:<input type="text" class="form-control" name="fusionother_onegene" id="fusionother_onegene" value=""></label>    
                            </div>
                        </div>
                        <div id="nogenename">
                            <label>Only 1 Chrom Available:
                                <select name="selectfusionchrom" id="selectfusionchrom">  
                                    <option value=yes>Yes</option>
                                    <option value=no>No</option>
                                </select>
                            </label>
                            <div>
                                <!-- <label for="text">First Chromosome:<input type="text" name="first_chrom" id="first_chrom" value="" class="form-control"></label> -->
                                <label for="text">First Chromosome:
                                    <select name="first_chrom" id="first_chrom">  
                                        {{chrom_options}}
                                    </select>
                                </label>
                            </div>
                            <div id="twochrom">
                                <label for="text">Second Chromosome:
                                    <select name="second_chrom" id="second_chrom">  
                                        {{chrom_options}}
                                    </select>
                                </label>
                                    
                                    <!-- <input type="text" name="second_chrom" id="second_chrom" value="" class="form-control"> -->    
                            </div>
                            <label for="text">Other Info:<input type="text" class="form-control" name="fusionother_chrom" id="fusionother_chrom" value=""></label>    
                        </div>
                        
    				</div>
    				<div name = "protmodinfo">
    				    <script>
				            function showModOther() {
                                var isother = $("#modtype").find(":selected").text();
                                if (isother=="Other") {
                                    $('#modotherdiv').show();
                                } else {
                                    $('#modotherdiv').hide();
                                }
                            }
                        
                            $(document).ready(function(){
                                $("#modtype").change(function(){
                                    showModOther();
                                });
                                showModOther();
                            });
    				    </script>
					    <label for="text">Gene Symbol(s) (separate by |):<input type="text" name="modgene" value="" class="form-control"></label>
						<label>Modification Type:
						    <select id="modtype" name="modtype">  
    							<option value=Other>Other</option>
    							<option value=phospho>Phospho</option>
    							<option value=acetyl>Acetyl</option>
    							<option value=methyl>Methyl</option>
    							<option value=cleaved>Cleaved</option>
    						</select>
    					</label>
    					<label for="text">Amino Acid Position:<input type="text" name="modAA" value="" class="form-control"></label>
                        <label for="text" id="modotherdiv">Other Info:<input type="text" class="form-control" id="modother" name="modother" value=""></label>    
    					
    				</div>
    				<div name = "expressioninfo">
    					<div id="expressiongcategory">
    					    <label>Expression Category:
        						<select id="expression_selector" name="expression_selector">
        						    <option value=other>Other</option>
        						    <option value=tobestudied>To Be Studied</option>
        						    <option value=statusknown>Status Known</option>  
        							<option value=expressed>Expressed</option>
        							<option value=notexpressed>Not Expressed</option>
        							<option value=overexpressed>Overexpressed</option>
        							<option value=underexpressed>Underexpressed</option>		
        						</select>
    					   </label>
    					</div>
                        <div id="samplesource">
                            <label>Sample Source:
                                <select name="sample_source">
                                    <option value=tumorcells>Cellular</option>
                                    <option value=other>Extracellular</option>        
                                </select>
                           </label>
                        </div>
    					<label for="text">Gene Symbol(s) (separate by |):<input type="text" name="expgene" value="" class="form-control"></label>
    					<label for="text">Other Info:<input type="text" class="form-control" name="expother" value=""></label>
    				</div>
    				<div name = "cnvinfo">
    				    <label for="text">Gene Symbol(s) (separate by |):<input type="text" name="cnvsymbol" value="" class="form-control"></label>
    					<label>Gain or Loss:
    					    <select name="cnvgain/loss">  
    						  <option value=gain>Gain</option>
    						  <option value=loss>Loss</option>	
    					   </select>
    					</label>
    					<label for="text">Chromosome:<input type="text" name="cnvchrom" value="" class="form-control"></label>
                        <label for="text">Start:<input type="text" name="cnvstart" value="" class="form-control"></label>
                        <label for="text">End:<input type="text" name="cnvend" value="" class="form-control"></label>
                        <label for="text">Arm:<input type="text" name="arm" value="" class="form-control"></label>
                        <label for="text">Other Info:<input type="text" class="form-control" name="cnvother" value=""></label>
    				</div>
    				<div name = "alterationsbutton">
    				    <button type="submit" class="btn btn-default" name="commit" value="Add Alteration">Add Information</button>
    				</div>
    			</form>
    			<h3 style="color:#AF7817;"> Gene Symbol Search (links out to HGNC) </h3>
    			<form role="form" target="_blank" action="http://www.genenames.org/cgi-bin/gene_search?">
    			    <label for="text">Search: <input type="text" name="search" value="" class="form-control"></label>
    			    <div>
                        <button type="submit" class="btn btn-default" name="submit" value="Submit">Search</button>    
    			    </div>
    			</form>
<!--                <h3 style="color:#AF7817;"> Remove </h3>
                <form role="form" action="javascript:removeAlteration({{trialannotationset.id}});" name="removeAlterationForm">
                    <label>To Remove:
                        <select name="alterationtoremove"> {{current_alterations}}</select>
                    </label>
                    <div>
                        <button type="submit" class="btn btn-default" name="commit" value="Remove Alteration">Remove Alteration</button>    
                    </div>
                </form>
-->
    		</div>

            <!-- Start of Drugs -->
        
    		<h2 id="c5" onClick=openClose('add_drug') onmouseover="" style="cursor: pointer; display:inline-block" >Drug(s)&nbsp</h2><p onClick=openClose('add_drug') onmouseover="" style="cursor: pointer; display:inline-block "> (click to expand)</p> 
    		<div id="expander_add_drug" class="texter_closer" ></div>
    		<div id="closer_add_drug" class="texter" >
    			<br>
    			<div id="table_div_jscode_drugs"></div>
    			<br>
    			<!-- <p class="lead" style="display:inline-block">Parsed Clinical Trial Interventions:&nbsp&nbsp</p>  <p style="display:inline-block">{{trial.parseInterventions()}}</p></br> -->
    			<h3 style="color:#AF7817;"> Add Drug. </h3>
    			<form role = "form" action="javascript:addDrug({{trialannotationset.id}});" name="addDrugForm"> 			<!-- <form method="POST" action=""> -->
                    <div class="form-group">
                        <!--<label>Drug Name:&nbsp</label>-->
                        <select style="width:100%" class="js-select2-drug" name="preselecteddrugname"> {{mentioned_drugs}}</select>
                    </div>
                    <div class="form-group">
                        <label>Not Present&nbsp&nbsp&nbsp<input type="checkbox" id="drugcheck" value=""></label>
                    </div>
                    <script>
                        $('#drugcheck').click(function() {
                            $("input[name=manualdrugnames]").val('');
                            if( $(this).is(':checked')) {
                                $("#drugmanual").show();
                            } else {
                                $("#drugmanual").hide();
                            }
                        }); 
                    </script>
                    <div class="form-group" id="drugmanual" style="display:none;"> 
                        <label for="text">Manual Drug Name:</label>
                        <input type="text" class="form-control" name="manualdrugnames" value="">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default" name="commit" value="Add Drug">Add Drug</button>    
                    </div>
    			</form>
<!--    			<br>
    			<h3 style="color:#AF7817;"> Remove Drug. </h3>
    			<form action="javascript:removeDrug({{trialannotationset.id}});" name="removeDrugForm">	<!-- <form method="POST" action="">
                    <div class="form-group">
                        <label>To Remove:&nbsp<select name="drugtoremove"> {{current_drugs}}</select></label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default" name="commit" value="Remove Drug">Remove Drug</button>    
                    </div>
                    
    			</form>
-->
    		 </div>
            
            
            <!-- Start of non-drug therapies -->
            <h2 id="c5" onClick=openClose('add_therapy') onmouseover="" style="cursor: pointer; display:inline-block" >Other Therapies&nbsp</h2><p onClick=openClose('add_therapy') onmouseover="" style="cursor: pointer; display:inline-block "> (click to expand)</p> 
            <div id="expander_add_therapy" class="texter_closer" ></div>
            <div id="closer_add_therapy" class="texter" >
                <br>
                <div id="table_div_jscode_therapies"></div>
                <br>
                <!-- <p class="lead" style="display:inline-block">Parsed Clinical Trial Interventions:&nbsp&nbsp</p>  <p style="display:inline-block">{{trial.parseInterventions()}}</p></br> -->
                <h3 style="color:#AF7817;"> Add Therapy. </h3>
                <form role = "form" action="javascript:addTherapy({{trialannotationset.id}});" name="addTherapyForm">             <!-- <form method="POST" action=""> -->
                    <div class="form-group">
                        <!--<label>Drug Name:&nbsp</label>-->
                        <select style="width:100%" class="js-select2-therapy" name="preselectedtherapyname">
                            {{preselected_therapies}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Not Present&nbsp&nbsp&nbsp<input type="checkbox" id="therapycheck" value=""></label>
                    </div>
                    <script>
                        $('#therapycheck').click(function() {
                            $("input[name=manualtherapynames]").val('');
                            if( $(this).is(':checked')) {
                                $("#therapymanual").show();
                            } else {
                                $("#therapymanual").hide();
                            }
                        }); 
                    </script>
                    <div class="form-group" id="therapymanual" style="display:none;"> 
                        <label for="text">Manual Therapy Name:</label>
                        <input type="text" class="form-control" name="manualtherapynames" value="">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default" name="commit" value="Add Therapy">Add Therapy</button>    
                    </div>
                </form>
<!--                <br>
                <h3 style="color:#AF7817;"> Remove Drug. </h3>
                <form action="javascript:removeDrug({{trialannotationset.id}});" name="removeDrugForm"> <!-- <form method="POST" action="">
                    <div class="form-group">
                        <label>To Remove:&nbsp<select name="drugtoremove"> {{current_drugs}}</select></label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default" name="commit" value="Remove Drug">Remove Drug</button>    
                    </div>
                    
                </form>
-->
             </div>
     
          <p></p>
          <!-- InstanceEndEditable --> 
    	</div>

        <!-- End #center --> 
    
    </div>
    <!-- <div class="content_clear"></div> -->
  </div>
  <!-- End #content --> 
</div>
<!-- End #container --> 

<div style='display:none'>
    <div id='inline_content_info' style='padding:10px; background:#fff;'>
        <h2>Instructions</h2>
        <p>Below are instruction for annotating this clinical trial with molecular information, drugs, and cancer type. When you are satisfied with your annotations, please hit the green 'Finish' button in the upper right. If you have any trouble please report the problem by clicking the red 'Report Error' button, also located in the upper right of your screen. </p>
        <h3>Annotate Molecular Information</h3>
        <p>Use the Molecular Information tab on the right side of the screen to annotate any molecular information that is assessed in the trial as part of the study or as enrollment criteria. Please do not include molecular information that is mentioned only as background information. If you feel there is important molecular information that does not fit into a predefined category, please select 'Other' as the role for the information and provide a brief phrase to describe that role.</p> 
        <p><b>Examples:</b></p>    
        <div id="inner_div">
            <p>Trial with mention of a MYCN amplification:  </p>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/assets/example_images/info_mention.png" alt="Generic placeholder thumbnail">
                        <div class="caption">
                            <h4>Molecular Information Mentioned in Text</h4>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/assets/example_images/addinfo.png" alt="Generic placeholder thumbnail">
                        <div class="caption">
                            <h4>Enter Molecular Information Information into Form</h4>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
        <h3>Annotate Cancers</h3>
        <p>Use the cancers tab on the right side of the screen to select which cancers types are required for enrollment in this trial. Select the cancers that you feel are most appropriate and indicate your confidence in each selection. If you are unable to find a good match please hit the checkbox marked 'Not Confident' and manually enter the cancer type into the provided text box.</p> 
        <p><b>Examples:</b></p>    
        <div id="inner_div">
            <p>Trial for Glioblastoma Multiforme:  </p>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/assets/example_images/cancer_mention.png" alt="Generic placeholder thumbnail">
                        <div class="caption">
                            <h4>Cancer Mentioned in Text</h4>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/assets/example_images/addcancer.png" alt="Generic placeholder thumbnail">
                        <div class="caption">
                            <h4>Enter Cancer Information into Form</h4>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
        <h3>Annotate Drugs</h3>
        <p>Use the drugs tab on the right side of the screen to select which drugs are used in the trial. Select the drugs that you feel are most appropriate. If you are unable to find a drug match please select the checkbox marked 'Not Present' and manually enter the drug type into the provided text box.</p> 
        <p><b>Examples:</b></p>    
        <div id="inner_div">
            <p>Trial using ...:  </p>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/assets/example_images/drug_mention.png" alt="Generic placeholder thumbnail">
                        <div class="caption">
                            <h4>Drug Mentioned in Text</h4>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/assets/example_images/add_drug.png" alt="Generic placeholder thumbnail">
                        <div class="caption">
                            <h4>Enter Drug Information into Form</h4>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
        
    </div>
</div>

<!-- #content--> 
{% endblock %}